*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
div,
main,
h1,
h2,
h3,
p,
span,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
