*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
div,
main,
h1,
h2,
h3,
p,
span,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk";
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
